.435_0 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}.e435_0 { 
	background-color:rgba(12.000000234693289, 8.000000473111868, 8.000000473111868, 1);
	width:1920px;
	height:8016px;
	position:absolute;
}.e435_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:330px;
	height:67px;
	position:absolute;
	left:1154px;
	top:963px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.435_1 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e435_2 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:330px;
	height:67px;
	position:absolute;
	left:1154px;
	top:702px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.435_2 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e435_3 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:330px;
	height:67px;
	position:absolute;
	left:1160px;
	top:465px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.435_3 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e435_4 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:330px;
	height:67px;
	position:absolute;
	left:326px;
	top:729px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.435_4 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e435_5 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:330px;
	height:67px;
	position:absolute;
	left:326px;
	top:951px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.435_5 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e435_6 { 
	background-color:rgba(12.000000234693289, 8.000000473111868, 8.000000473111868, 1);
	width:1276px;
	height:37px;
	position:absolute;
	left:290px;
	top:30px;
}.e435_7 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:924px;
	height:76px;
	position:absolute;
	left:498px;
	top:2415px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e435_8 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:1520px;
	height:53px;
	position:absolute;
	left:253px;
	top:1352px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e435_9 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	opacity:0.8999999761581421;
	width:254px;
	height:68px;
	position:absolute;
	left:213px;
	top:519px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.435_9 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e435_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	opacity:0.8999999761581421;
	width:50px;
	height:102px;
	position:absolute;
	left:535px;
	top:928px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_11 { 
	width:50px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}.e435_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 0.5);
	opacity:0.8999999761581421;
	width:272px;
	height:38px;
	position:absolute;
	left:341px;
	top:750px;
	font-family:Esteban;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e435_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:288px;
	height:46px;
	position:absolute;
	left:359px;
	top:677px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_14 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:502px;
	height:46px;
	position:absolute;
	left:1174px;
	top:654px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_15 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:502px;
	height:46px;
	position:absolute;
	left:1190px;
	top:353px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:502px;
	height:46px;
	position:absolute;
	left:388px;
	top:344px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_17 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:593px;
	height:46px;
	position:absolute;
	left:1040px;
	top:905px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:198px;
	height:51px;
	position:absolute;
	left:247px;
	top:526px;
	font-family:Esteban;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e435_19 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	opacity:0.8999999761581421;
	width:254px;
	height:68px;
	position:absolute;
	left:496px;
	top:519px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.435_19 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e435_20 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:198px;
	height:51px;
	position:absolute;
	left:521px;
	top:527px;
	font-family:Esteban;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e435_21 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:695px;
	height:94px;
	position:absolute;
	left:615px;
	top:180px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e435_22 { 
	background-color:rgba(12.000000234693289, 8.000000473111868, 8.000000473111868, 1);
	width:1276px;
	height:109px;
	position:absolute;
	left:317px;
	top:3173px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_23 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	opacity:0.8999999761581421;
	width:335px;
	height:131px;
	position:absolute;
	left:763px;
	top:2969px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_24 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:292px;
	height:57px;
	position:absolute;
	left:787px;
	top:3005px;
	font-family:Esteban;
	text-align:center;
	font-size:46px;
	letter-spacing:0;
}.e435_25 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	opacity:0.8999999761581421;
	width:525px;
	height:80px;
	position:absolute;
	left:295px;
	top:2658px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_26 { 
	opacity:0.8999999761581421;
	width:49px;
	height:83px;
	position:absolute;
	left:771px;
	top:2658px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:20.416664123535156px;
	height:17.291671752929688px;
	position:absolute;
	left:14.291674613952637px;
	top:34.58332061767578px;
}.e435_28 { 
	width:49px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}.e435_29 { 
	opacity:0.8999999761581421;
	width:49px;
	height:83px;
	position:absolute;
	left:1530px;
	top:2655px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_30 { 
	background-color:rgba(255, 255, 255, 1);
	width:20.416664123535156px;
	height:17.291671752929688px;
	position:absolute;
	left:14.291674613952637px;
	top:34.58332061767578px;
}.e435_31 { 
	width:49px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}.e435_32 { 
	background-color:rgba(255, 255, 255, 1);
	width:20.4166259765625px;
	height:17.105712890625px;
	position:absolute;
	left:14px;
	top:35px;
}.e435_33 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	opacity:0.8999999761581421;
	width:525px;
	height:80px;
	position:absolute;
	left:1065px;
	top:2658px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_34 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:476px;
	height:56px;
	position:absolute;
	left:367px;
	top:2673px;
	font-family:Esteban;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e435_35 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:373px;
	height:70px;
	position:absolute;
	left:398px;
	top:2764px;
	font-family:Esteban;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e435_36 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:373px;
	height:71px;
	position:absolute;
	left:1144px;
	top:2770px;
	font-family:Esteban;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e435_37 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:380px;
	height:51px;
	position:absolute;
	left:1164px;
	top:2672px;
	font-family:Esteban;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e435_38 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:288px;
	height:46px;
	position:absolute;
	left:352px;
	top:905px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_39 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 0.5);
	opacity:0.8999999761581421;
	width:272px;
	height:38px;
	position:absolute;
	left:1174px;
	top:710px;
	font-family:Esteban;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e435_40 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 0.5);
	opacity:0.8999999761581421;
	width:272px;
	height:38px;
	position:absolute;
	left:1180px;
	top:488px;
	font-family:Esteban;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e435_41 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 0.4399999976158142);
	opacity:0.8999999761581421;
	width:334px;
	height:38px;
	position:absolute;
	left:1171px;
	top:974px;
	font-family:Esteban;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e435_42 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 0.4399999976158142);
	opacity:0.8999999761581421;
	width:334px;
	height:38px;
	position:absolute;
	left:337px;
	top:972px;
	font-family:Esteban;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e435_43 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:273px;
	height:69px;
	position:absolute;
	left:1182px;
	top:1600px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_44 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:256px;
	height:51px;
	position:absolute;
	left:1194px;
	top:1609px;
	font-family:Esteban;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e435_45 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:63px;
	height:69px;
	position:absolute;
	left:1483px;
	top:1600px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_46 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:273px;
	height:69px;
	position:absolute;
	left:1182px;
	top:1787px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_47 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:198px;
	height:50px;
	position:absolute;
	left:1205px;
	top:1797px;
	font-family:Esteban;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e435_48 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:63px;
	height:69px;
	position:absolute;
	left:1483px;
	top:1787px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_49 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:273px;
	height:69px;
	position:absolute;
	left:1182px;
	top:1974px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_50 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:198px;
	height:50px;
	position:absolute;
	left:1205px;
	top:1984px;
	font-family:Esteban;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e435_51 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:63px;
	height:69px;
	position:absolute;
	left:1483px;
	top:1974px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_52 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:273px;
	height:69px;
	position:absolute;
	left:320px;
	top:1974px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_53 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:198px;
	height:50px;
	position:absolute;
	left:343px;
	top:1984px;
	font-family:Esteban;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e435_54 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:63px;
	height:69px;
	position:absolute;
	left:621px;
	top:1974px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_55 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:273px;
	height:69px;
	position:absolute;
	left:320px;
	top:1600px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_56 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:198px;
	height:53px;
	position:absolute;
	left:350px;
	top:1610px;
	font-family:Esteban;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e435_57 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:63px;
	height:69px;
	position:absolute;
	left:621px;
	top:1600px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_58 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:273px;
	height:69px;
	position:absolute;
	left:320px;
	top:1787px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_59 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:188px;
	height:51px;
	position:absolute;
	left:350px;
	top:1796px;
	font-family:Esteban;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e435_60 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	width:63px;
	height:69px;
	position:absolute;
	left:621px;
	top:1787px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_61 { 
	width:100px;
	height:100px;
	position:absolute;
	left:620px;
	top:1760px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_62 { 
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}.e435_63 { 
	background-color:rgba(0, 166.81249290704727, 66.72501236200333, 1);
	width:73.29167175292969px;
	height:55.87500762939453px;
	position:absolute;
	left:14.208344459533691px;
	top:23.29166603088379px;
}.e435_64 { 
	width:98px;
	height:86px;
	position:absolute;
	left:299px;
	top:417px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e435_65 { 
	width:102px;
	height:102px;
	position:absolute;
	left:565px;
	top:409px;
}.e435_66 { 
	background-color:rgba(49.00000087916851, 45.00000111758709, 45.00000111758709, 1);
	width:66.9375px;
	height:54.56201934814453px;
	position:absolute;
	left:17.618955612182617px;
	top:35.923194885253906px;
}.e435_67 { 
	background-color:rgba(96.00000187754631, 125.00000014901161, 139.0000069141388, 1);
	width:69.43968200683594px;
	height:26.08179473876953px;
	position:absolute;
	left:16.280109405517578px;
	top:75.91822052001953px;
}.e435_68 { 
	background-color:rgba(216.00000232458115, 216.00000232458115, 216.00000232458115, 1);
	width:11.586563110351562px;
	height:26.081710815429688px;
	position:absolute;
	left:39.7640380859375px;
	top:75.91824340820312px;
}.e435_69 { 
	background-color:rgba(216.00000232458115, 216.00000232458115, 216.00000232458115, 1);
	width:11.251876831054688px;
	height:26.081710815429688px;
	position:absolute;
	left:51px;
	top:75.91824340820312px;
}.e435_70 { 
	background-color:rgba(49.00000087916851, 45.00000111758709, 45.00000111758709, 1);
	width:66.9375px;
	height:62.9531364440918px;
	position:absolute;
	left:17.618955612182617px;
	top:5.283291339874268px;
}.e435_71 { 
	background-color:rgba(219.0000021457672, 166.00000530481339, 137.00000703334808, 1);
	width:14.479217529296875px;
	height:12.885475158691406px;
	position:absolute;
	left:43.852012634277344px;
	top:71.93386840820312px;
}.e435_72 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.243907928466797px;
	height:17.411705017089844px;
	position:absolute;
	left:51.11151123046875px;
	top:76.23696899414062px;
}.e435_73 { 
	background-color:rgba(250.00000029802322, 220.00000208616257, 188.0000039935112, 1);
	width:48.959999084472656px;
	height:63.74203109741211px;
	position:absolute;
	left:26.519981384277344px;
	top:10.82953929901123px;
}.e435_74 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:16.541404724121094px;
	height:4.892810821533203px;
	position:absolute;
	left:42.810768127441406px;
	top:62.25985336303711px;
}.e435_75 { 
	width:30.321090698242188px;
	height:8.207817077636719px;
	position:absolute;
	left:35.923194885253906px;
	top:44.3062744140625px;
}.e435_76 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:6.797340393066406px;
	height:8.207817077636719px;
	position:absolute;
	left:0px;
	top:0px;
}.e435_77 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:6.7973480224609375px;
	height:8.207817077636719px;
	position:absolute;
	left:23.523704528808594px;
	top:0px;
}.e435_78 { 
	background-color:rgba(219.0000021457672, 166.00000530481339, 137.00000703334808, 1);
	width:8.354248046875px;
	height:2.8247718811035156px;
	position:absolute;
	left:46.862754821777344px;
	top:55.98453140258789px;
}.e435_79 { 
	background-color:rgba(49.00000087916851, 45.00000111758709, 45.00000111758709, 1);
	width:51.749061584472656px;
	height:38.73609161376953px;
	position:absolute;
	left:25.30876922607422px;
	top:5.729567527770996px;
}.e435_80 { 
	background-color:rgba(69.00000348687172, 90.00000223517418, 100.00000163912773, 1);
	width:16.822040557861328px;
	height:25.4442138671875px;
	position:absolute;
	left:55.84506607055664px;
	top:76.55583190917969px;
}.e435_81 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.251876831054688px;
	height:17.419692993164062px;
	position:absolute;
	left:39.827850341796875px;
	top:76.22904968261719px;
}.e435_82 { 
	background-color:rgba(69.00000348687172, 90.00000223517418, 100.00000163912773, 1);
	width:16.814062118530273px;
	height:25.460159301757812px;
	position:absolute;
	left:29.53215217590332px;
	top:76.539794921875px;
}.e435_83 { 
	background-color:rgba(183.00000429153442, 183.00000429153442, 183.00000429153442, 1);
	width:2.6934432983398438px;
	height:2.6934432983398438px;
	position:absolute;
	left:49.8843994140625px;
	top:90.54092407226562px;
}.e435_84 { 
	background-color:rgba(183.00000429153442, 183.00000429153442, 183.00000429153442, 1);
	width:2.6934432983398438px;
	height:2.6934432983398438px;
	position:absolute;
	left:49.8843994140625px;
	top:96.91592407226562px;
}.e435_85 { 
	background-color:rgba(12.000000234693289, 8.000000473111868, 8.000000473111868, 1);
	width:1276px;
	height:109px;
	position:absolute;
	left:322px;
	top:5210px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_86 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:1597px;
	height:110px;
	position:absolute;
	left:180px;
	top:3305px;
	font-family:Montserrat;
	text-align:left;
	font-size:63px;
	letter-spacing:0;
}.e435_87 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:564px;
	height:90px;
	position:absolute;
	left:679px;
	top:3677px;
	font-family:Esteban;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e435_88 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:863px;
	height:90px;
	position:absolute;
	left:579px;
	top:3973px;
	font-family:Esteban;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e435_89 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:975px;
	height:90px;
	position:absolute;
	left:499px;
	top:4286px;
	font-family:Esteban;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e435_90 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:975px;
	height:90px;
	position:absolute;
	left:494px;
	top:4590px;
	font-family:Esteban;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e435_91 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:904px;
	height:90px;
	position:absolute;
	left:589px;
	top:4880px;
	font-family:Esteban;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e435_92 { 
	background-image:linear-gradient(0deg, rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 1) 0%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.89128088951111%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.90128254890442%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.91128420829773%,rgba(245.00000059604645, 184.00000423192978, 182.00000435113907, 0) 100%) ;
	opacity:0.8999999761581421;
	width:1360px;
	height:123px;
	position:absolute;
	left:290px;
	top:3660px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_93 { 
	background-image:linear-gradient(0deg, rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 1) 0%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.89128088951111%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.90128254890442%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.91128420829773%,rgba(245.00000059604645, 184.00000423192978, 182.00000435113907, 0) 100%) ;
	opacity:0.8999999761581421;
	width:1360px;
	height:123px;
	position:absolute;
	left:290px;
	top:4253px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_94 { 
	background-image:linear-gradient(0deg, rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 1) 0%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.89128088951111%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.90128254890442%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.91128420829773%,rgba(245.00000059604645, 184.00000423192978, 182.00000435113907, 0) 100%) ;
	opacity:0.8999999761581421;
	width:1360px;
	height:123px;
	position:absolute;
	left:290px;
	top:3947px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_95 { 
	background-image:linear-gradient(0deg, rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 1) 0%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.89128088951111%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.90128254890442%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.91128420829773%,rgba(245.00000059604645, 184.00000423192978, 182.00000435113907, 0) 100%) ;
	opacity:0.8999999761581421;
	width:1360px;
	height:123px;
	position:absolute;
	left:290px;
	top:4571px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_96 { 
	background-image:linear-gradient(0deg, rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 1) 0%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.89128088951111%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.90128254890442%,rgba(250.00000029802322, 198.00000339746475, 173.00000488758087, 0.25) 68.91128420829773%,rgba(245.00000059604645, 184.00000423192978, 182.00000435113907, 0) 100%) ;
	opacity:0.8999999761581421;
	width:1360px;
	height:123px;
	position:absolute;
	left:289px;
	top:4860px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_97 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:1499px;
	height:108px;
	position:absolute;
	left:220px;
	top:3824px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_98 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:1499px;
	height:108px;
	position:absolute;
	left:261px;
	top:4133px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_99 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:1499px;
	height:108px;
	position:absolute;
	left:559px;
	top:5040px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_100 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:1499px;
	height:108px;
	position:absolute;
	left:430px;
	top:4733px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_101 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:1499px;
	height:108px;
	position:absolute;
	left:559px;
	top:4452px;
	font-family:Esteban;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e435_102 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:1404px;
	height:183px;
	position:absolute;
	left:234px;
	top:5250px;
	font-family:Montserrat;
	text-align:left;
	font-size:63px;
	letter-spacing:0;
}.e435_103 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:540px;
	height:155px;
	position:absolute;
	left:1041px;
	top:5453px;
	font-family:Esteban;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e435_104 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:540px;
	height:155px;
	position:absolute;
	left:1041px;
	top:5628px;
	font-family:Esteban;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e435_105 { 
	opacity:0.8999999761581421;
	width:690px;
	height:359px;
	position:absolute;
	left:227px;
	top:5483px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e435_106 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:1275px;
	height:183px;
	position:absolute;
	left:298px;
	top:6061px;
	font-family:Montserrat;
	text-align:left;
	font-size:63px;
	letter-spacing:0;
}.e435_107 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:540px;
	height:155px;
	position:absolute;
	left:1041px;
	top:6279px;
	font-family:Esteban;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e435_108 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:540px;
	height:155px;
	position:absolute;
	left:1041px;
	top:6532px;
	font-family:Esteban;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e435_109 { 
	opacity:0.8999999761581421;
	width:354px;
	height:374px;
	position:absolute;
	left:582px;
	top:6313px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e435_110 { 
	opacity:0.8999999761581421;
	width:355px;
	height:374px;
	position:absolute;
	left:227px;
	top:6313px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e435_111 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:63px;
	height:63px;
	position:absolute;
	left:1507px;
	top:6074px;
	font-family:Radley;
	text-align:left;
	font-size:63px;
	letter-spacing:0;
}.e435_112 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:1275px;
	height:183px;
	position:absolute;
	left:298px;
	top:6831px;
	font-family:Montserrat;
	text-align:left;
	font-size:63px;
	letter-spacing:0;
}.e435_113 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:312px;
	height:90px;
	position:absolute;
	left:227px;
	top:7095px;
	font-family:Montserrat;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e435_114 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:312px;
	height:90px;
	position:absolute;
	left:227px;
	top:7245px;
	font-family:Montserrat;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e435_115 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:312px;
	height:90px;
	position:absolute;
	left:227px;
	top:7402px;
	font-family:Montserrat;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e435_116 { 
	opacity:0.8999999761581421;
	width:943px;
	height:192px;
	position:absolute;
	left:605px;
	top:7020px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e435_117 { 
	opacity:0.8999999761581421;
	width:943px;
	height:157px;
	position:absolute;
	left:605px;
	top:7212px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_23.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e435_118 { 
	opacity:0.8999999761581421;
	width:943px;
	height:163px;
	position:absolute;
	left:605px;
	top:7366px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_24.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e435_119 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	opacity:0.8999999761581421;
	width:387px;
	height:131px;
	position:absolute;
	left:551px;
	top:7673px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_120 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:333px;
	height:57px;
	position:absolute;
	left:575px;
	top:7709px;
	font-family:Esteban;
	text-align:center;
	font-size:46px;
	letter-spacing:0;
}.e435_121 { 
	background-color:rgba(222.00000196695328, 153.00000607967377, 180.00000447034836, 0.75);
	opacity:0.8999999761581421;
	width:387px;
	height:131px;
	position:absolute;
	left:1048px;
	top:7672px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e435_122 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:333px;
	height:57px;
	position:absolute;
	left:1072px;
	top:7708px;
	font-family:Esteban;
	text-align:center;
	font-size:46px;
	letter-spacing:0;
}